<div id="admin-page" class="container">
    <div class="columns p-centered">
        <span class="h2 p-centered col-3 text-center mt-2 mb-2 bg-primary">adminpage</span>
        <div id="flash" class="p-centered col-3 text-center mt-2 mb-2 bg-error">
            <%= flash[:error] %>
        </div>
        <%= form_with( url: '/force_update', id: 'admin-form', class: 'form-group col-3 p-centered', method: 'post') do |f| %>
            <label class="form-label text-center bg-dark text-secondary mt-2" for="cource-value">Value</label>
            <input id="cource-value" 
                type="text" 
                name="cource[cource][value]" 
                value="<%= @forced_cource['cource']['value'] %>" 
                placeholder="example: xxx.xxxx" 
                class="form-input"
            >
            <label class="form-label text-center bg-dark text-secondary mt-2" for="cource-date">Date</label>
            <input id="cource-date" 
                type="text" 
                name="cource[cource][date]" 
                value="<%= @forced_cource['cource']['date'] %>" 
                placeholder="xx/xx/xxxx" 
                data-controller="flatpickr"
                data-flatpickr-min-date="<%= Time.now %>"
                data-flatpickr-date-format="d/m/Y"
                class="form-input"
            >
            <label class="form-label text-center bg-dark text-secondary mt-2 " for="cource-time">Time</label>
            <input id="cource_time" 
                type="text" 
                name="cource[cource][time]" 
                value="<%= @forced_cource['cource']['time'] %>" 
                placeholder="xx:xx" 
                data-controller="flatpickr"
                data-flatpickr-enable-time="true"
                data-flatpickr-no-calendar="true"
                data-flatpickr-date-format="H:i"
                data-flatpickr-time-24hr="true"
                class="form-input"
            >
            <input id="cource_forced" 
                type="hidden" 
                name="cource[cource][forced]" 
                value="true" 
            >
            <%= f.submit class: "btn btn-lg mt-2 col-12 p-centered"%>
        <% end %>
    </div>
</div>

