<div id="admin-page">
    adminpage
    <div id="flash">
        <%= flash[:error] %>
    </div>
    <%= form_with( url: '/force_update', id: 'admin-form', method: 'post') do |f| %>
        <input id="cource_value" type="text" name="cource[cource][value]" value="<%= @forced_cource['cource']['value'] %>">
        <input id="cource_date" type="text" name="cource[cource][date]" value="<%= @forced_cource['cource']['date'] %>">
        <input id="cource_time" type="text" name="cource[cource][time]" value="<%= @forced_cource['cource']['time'] %>">
        <input id="cource_forced" type="hidden" name="cource[cource][forced]" value="true" >
        <%= f.submit %>
    <% end %>
</div>

